/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 6, ../sass/screen.scss */
body {
  text-align: center;
}

/* line 10, ../sass/screen.scss */
.main_text {
  font-size: 2em !important;
  font-weight: 100;
}
